@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-out-bottom{
    mask-image: linear-gradient(to bottom, black 75%, transparent);
}

.fade-out-top {
    mask-image: linear-gradient(to top, black 85%, transparent);
}

.fade-out-both {
    mask-image: linear-gradient(to bottom, transparent, black 40%, transparent);
}