@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}  

@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}

.fade-out-bottom{
    mask-image: linear-gradient(to bottom, black 85%, transparent);
}

.fade-out-top {
    mask-image: linear-gradient(to top, black 85%, transparent);
}

.fade-out-both {
    mask-image: linear-gradient(to bottom, transparent, black 40%, transparent);
}

::-webkit-scrollbar {
    width: 7px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-track {
      background-color: black;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent; /* If the scrollbar corner shows, make it transparent */
  }
  